.producer-list {
	color: #333;
  }
  
  .producer-list .table {
	padding: 5px;
	width: 100%;
	overflow-x: auto;
  }
  
  .producer-list .table .search {
	width: 100%;
	max-width: 300px;
  }
  
  .producer-list .table .Search_search__PQsNp input[type="text"] {
	box-shadow: 2px 2px 5px #BABECC;
	border-radius: 20px;
	border-color: #fff;
  }
  
  .producer-list .table table {
	border-collapse: collapse;
	width: 100%;
	font-size: 1.4rem;
  }
  
  .producer-list .table table thead {
	border-top: 2px solid var(--color-orange);
	border-bottom: 2px solid var(--color-orange);
  }
  
  .producer-list .table table th {
	border: 1px solid #eee;
  }
  
  .producer-list .table table th,
  .producer-list .table table td {
	vertical-align: top;
	text-align: left;
	padding: 8px;
  }
  
  .producer-list .table table th.icons,
  .producer-list .table table td.icons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
  }
  
  .producer-list .table table th.icons > *,
  .producer-list .table table td.icons > * {
	margin-right: 7px;
	cursor: pointer;
	vertical-align: middle;
	align-self: center;
  }
  
  .producer-list .table table tr {
	border-bottom: 1px solid #ccc;
  }
  
  .producer-list .table table tr:nth-child(even) {
	background-color: #fff;
  }
  
  .producer-list .table table tbody tr:hover {
	cursor: pointer;
	background-color: rgba(212, 212, 212, 0.3);
  }
  
  .a {
	text-decoration: none;
	color: black;
  }
  
  .Search_search__PQsNp input[type="text"] {
	box-shadow: 5px 5px 5px #b2b2b2;
	border-radius: 20px;
	border-color: #fff;
  }
  

  .add-actor {
	margin-bottom: 5rem;
	display: flex;
	flex-direction: column; /* Changed to column direction */
	align-items: center;
  }
  
  .actor-list-container {
	width: 100%;
	margin-top: 2rem; /* Space between form and list */
  }
  
  /* Existing styles remain unchanged... */