/* Navbar.css */

.navbar {
	display: flex;
	align-items: center;
	background-color: #121212;
	padding: 10px 20px;
	color: white;
}

.navbar__logo img {
	width: 60px;
}

.navbar__search {
	flex: 1;
	margin-left: 20px;
	max-width: 500px;
}

.navbar__search input {
	width: 100%;
	padding: 8px;
	border-radius: 4px;
	border: none;
	outline: none;
	font-size: 14px;
}

.navbar__links {
	display: flex;
	align-items: center;
	margin-left: auto; /* This will push the links to the left, allowing the button to move to the right end */
}

.navbar__links a {
	color: white;
	text-decoration: none;
	margin-left: 20px; /* Only links will have margin-left */
	font-size: 14px;
	font-weight: bold;
	transition: color 0.3s ease;
}

.navbar__links button {
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 12px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	margin-left: 0; /* No margin-left for buttons */
}

.navbar__links a:hover,
.navbar__links button:hover {
	color: #d6621a;
}

.nav-button {
	border: none;
	background-color: transparent;
	margin-left: auto; /* This aligns the button to the right end of the navbar */
}
